/* ------------- TITLE ------------- */
.material-icons {
  font-size: 0px;
  font-size: 12px;
  margin-left: 4px;
}
.h6 {
  color: #e2574c;
}
.h2 {
  font-weight: 300;
  color: #3C3C3C;
  letter-spacing: 2px;
}
.h2 span {
  font-weight: 500;
}
/* ------------- /TITLE ------------- */
.comments {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    white-space: pre-line;
}
.text {
    font-family: 'Playfair Display', serif;
    white-space: pre-line;
    line-height: 1.5;
}
.worker {
  font-size: 14px;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
}
.worker span {
  font-weight: 300;
}
.demolink a {
  font-family: 'Playfair Display', serif;
  font-size: 12px;
  color: #e2574c !important;
}
