<!DOCTYPE html>
<html lang="fr">
<head>
  <!-- META TAGS -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- TITLE TAG -->
  <title>RealHome</title>

  <!-- LINKS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:300,400,700|Raleway:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="../css/header.css">
  <link rel="stylesheet" type="text/css" href="../css/footer.css">
  <link rel="stylesheet" type="text/css" href="../css/hover.css">
  <link rel="stylesheet" type="text/css" href="../css/about.css">
</head>
<body>

  <!-- HEADER -->
  <header class="container-fluid bg-white shadow">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light" role="navigation">
        <a class="navbar-brand" href="../index.html"><img src="../img/logo.png" alt="LOGO"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav mr-auto ml-auto">
            <li class="nav-item hvr-sweep-to-bottom">
              <a class="nav-link" href="../index.html">Home</a>
            </li>
            <li class="nav-item active hvr-sweep-to-bottom">
              <a class="nav-link" href="#">About Us <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item hvr-sweep-to-bottom">
              <a class="nav-link" href="property.html">Property</a>
            </li>
            <li class="nav-item hvr-sweep-to-bottom">
              <a class="nav-link" href="blog.html">Our Blog</a>
            </li>
            <li class="nav-item hvr-sweep-to-bottom">
              <a class="nav-link" href="contacts.html">Contacts</a>
            </li>
          </ul>

          <ul class="nav navbar-nav">
            <li class="nav-item social-media">
              <a class="nav-link" href=""><span><i class="fab fa-facebook-f"></i></span></a>
            </li>
            <li class="nav-item social-media">
              <a class="nav-link" href=""><span><i class="fab fa-pinterest-p"></i></span></a>
            </li>
            <li class="nav-item social-media">
              <a class="nav-link" href=""><span><i class="fab fa-instagram"></i></span></a>
            </li>
            <li class="nav-item social-media">
              <a class="nav-link" href=""><span><i class="fab fa-google-plus-g"></i></span></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!-- /HEADER -->



  <!-- MAIN -->
  <main>
    <section class="container-fluid">

      <!-- ABOUT OUR COMPANY -->
      <div class="row p-5 flex-column">
        <h6 class="h6 pl-2 text-capitalize">home<span><i class="material-icons text-secondary">trending_flat</i></span> <span class="text-secondary">about us</span></h6>
        <h2 class="h2 pl-2 text-capitalize mt-2">about <span>our company</span></h2>
      </div>

      <div class="row justify-content-around mb-5 px-5">
        <img src="../img/bureau.png" class="img-fluid" alt="Bureau">
        <div class="d-flex flex-column text">
          <p class="">Quisque diam lorem interdum vitaapibus ac scelerisque vitae pede. Donec
            eget tellus non erat lacinia fertum. Donec in velit vel ipsum auctovinar. Proin
            umcorper urna et felisstibulum iaculis lacinia est. Proin dictum elem entum
            velit fusce euismod. Aenean commodo ligula eget dolor. Aenean massa. Lorem
            ipsum dolor sit amet, consec tetuer adipis elit, aliquam eget nibh etlibura.
            Lorem ipsum dolor sitamet, consetetur sadipscing elitr.
          </p>
          <p class="mb-0">Agent info ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Ut wisi enim ad minim veniam, quis nostrud tation ullamcorper
            suscipit lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad
            minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat. Consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat nostrud tation ullamcorper nonummy nibh.
          </p>
        </div>
      </div>
    <!-- /ABOUT OUR COMPANY -->

    <!-- CONFIDENTIALITY -->
      <div class="row justify-content-between p-5 confidential">
        <div class="col-lg-3 text-center">
          <figure class="figure">
            <img src="../img/earth.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption text-center">Whole World</figcaption>
          </figure>
          <p class="text-icon">Proin umcorper urna et felisstibulum
             iaculis lacinia est. Proin dictum elem
             entum velit fusce euismod. Aenean
             commodo ligula eget dolor.
          </p>
        </div>
        <div class="col-lg-3 text-center">
          <figure class="figure">
            <img src="../img/briefcase.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption text-center">Confidentialy</figcaption>
          </figure>
          <p class="text-icon">Proin umcorper urna et felisstibulum
             iaculis lacinia est. Proin dictum elem
             entum velit fusce euismod. Aenean
             commodo ligula eget dolor.
          </p>
        </div>
        <div class="col-lg-3 text-center">
          <figure class="figure">
            <img src="../img/photos.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption text-center">Good Previews</figcaption>
          </figure>
          <p class="text-icon">Proin umcorper urna et felisstibulum
             iaculis lacinia est. Proin dictum elem
             entum velit fusce euismod. Aenean
             commodo ligula eget dolor.
          </p>
        </div>
        <div class="col-lg-3 text-center">
          <figure class="figure">
            <img src="../img/file-drawer.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption text-center">Confidentialy</figcaption>
          </figure>
          <p class="text-icon">Proin umcorper urna et felisstibulum
             iaculis lacinia est. Proin dictum elem
             entum velit fusce euismod. Aenean
             commodo ligula eget dolor.
          </p>
        </div>
      </div>
    <!-- /CONFIDENTIALITY -->

    <!-- OUR TEAM -->
    <div class="row justify-content-between flex-column p-5">
      <div class="row p-5 justify-content-between align-items-center">
        <h2 class="h2 pl-2 text-capitalize mt-2">our <span>team</span></h2>
        <span class="h6 want border-bottom">Want to be a part of this team?</span>
      </div>
      <div class="d-flex justify-content-between pl-5 flex-wrap">
        <figure class="figure m-0 text-center">
          <img src="../img/maria.png" class="figure-img img-fluid rounded m-0" alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption text-capitalize workers border-top-0 border">maria spilberg <br><span>manager</span></figcaption>
        </figure>
        <figure class="figure m-0 text-center">
          <img src="../img/stan.png" class="figure-img img-fluid rounded m-0" alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption text-capitalize workers border-top-0 border">stan barnard  <br><span>agent</span></figcaption>
        </figure>
        <figure class="figure m-0 text-center">
          <img src="../img/phillip.png" class="figure-img img-fluid rounded m-0" alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption text-capitalize workers border-top-0 border">phillip morris <br><span>agent</span></figcaption>
        </figure>
        <figure class="figure m-0 text-center">
          <img src="../img/andy.png" class="figure-img img-fluid rounded m-0" alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption text-capitalize workers border-top-0 border">andy zuckerberg <br><span>account manage</span></figcaption>
        </figure>
      </div>
    </div>
    <!-- /OUR TEAM -->

    <!-- NEWSLETTER -->
    <div class="row news-letter justify-content-around py-4">
      <h2 class="">subcribe to <span>our newsletter</span></h2>
      <form class="form-inline">
        <label class="sr-only" for="inlineFormInputName2">Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Your email...">

        <button type="submit" class="btn btn-primary mb-2">Subscribe</button>
      </form>
    </div>
    <!-- /NEWSLETTER -->
    </section>
  </main>
  <!-- /MAIN -->


  <!-- FOOTER -->
  <footer class="container-fluid">
    <div class="row justify-content-between p-5 flex-wrap">
      <div class="col-lg-3 p-0">
        <img src="../img/footer-logo.png" alt="">
        <div class="d-flex flex-row justify-content-between pt-3 pl-0 col-8">
          <span class="footer__social"><i class="fab fa-facebook-f"></i></span>
          <span class="footer__social"><i class="fab fa-pinterest-p"></i></span>
          <span class="footer__social"><i class="fab fa-instagram"></i></span>
          <span class="footer__social"><i class="fab fa-google-plus-g"></i></span>
        </div>
      </div>
      <div class="col-lg-3 p-0">
        <h3 class="h3 text-capitalize">navigation</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link p-0 text-white text-capitalize hvr-underline-from-center" href="#">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 text-white text-capitalize" href="#">about us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 text-white text-capitalize" href="#">property</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 text-white text-capitalize" href="#">gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 text-white text-capitalize" href="#">our blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 text-white text-capitalize" href="#">contacts</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 p-0">
        <h3 class="h3 text-capitalize">for clients</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link p-0 text-white text-capitalize" href="#">sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 text-white text-capitalize" href="#">forum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 text-white text-capitalize" href="#">promotions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 text-white text-capitalize" href="#">news</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 p-0">
        <h3 class="h3 text-capitalize">contacts us</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="nav-link p-0 text-white text-capitalize" href="#">240 Central Park, London OR 10019</span>
          </li>
          <li class="nav-item">
            <span class="nav-link p-0 text-white text-capitalize" href="#">Freephone: +1 800 559 6580t</span>
          </li>
          <li class="nav-item">
            <span class="nav-link p-0 text-white text-capitalize" href="#">Telephone: +1 959 603 6035</span>
          </li>
          <li class="nav-item">
            <span class="nav-link p-0 text-white text-capitalize" href="#">FAX: +1 800 559 6580</span>
          </li>
          <li class="nav-item hvr-underline-from-center">
          <a class="nav-link p-0 mail" href="mailto:info@realhome.com">info@realhome.com</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- /FOOTER -->



  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.9/jquery.transit.min.js'></script>
  <script src="../js/index.js"></script>
</body>
</html>
