<!DOCTYPE html>
<html lang="fr">
<head>
  <!-- META TAGS -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- TITLE TAG -->
  <title>RealHome</title>

  <!-- LINKS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:300,400,700|Raleway:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="../css/header.css">
  <link rel="stylesheet" type="text/css" href="../css/footer.css">
  <link rel="stylesheet" type="text/css" href="../css/hover.css">
  <link rel="stylesheet" type="text/css" href="../css/testimonials.css">
</head>
<body>

  <!-- HEADER -->
  <header class="container-fluid bg-white shadow">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light" role="navigation">
        <a class="navbar-brand" href="../index.html"><img src="../img/logo.png" alt="LOGO"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav mr-auto ml-auto">
            <li class="nav-item hvr-sweep-to-bottom">
              <a class="nav-link" href="../index.html">Home</a>
            </li>
            <li class="nav-item active hvr-sweep-to-bottom">
              <a class="nav-link" href="about.html">About Us <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item hvr-sweep-to-bottom">
              <a class="nav-link" href="preperty.html">Property</a>
            </li>
            <li class="nav-item hvr-sweep-to-bottom">
              <a class="nav-link" href="blog-post.html">Our Blog</a>
            </li>
            <li class="nav-item hvr-sweep-to-bottom">
              <a class="nav-link" href="contacts.html">Contacts</a>
            </li>
          </ul>

          <ul class="nav navbar-nav">
            <li class="nav-item social-media">
              <a class="nav-link" href=""><span><i class="fab fa-facebook-f"></i></span></a>
            </li>
            <li class="nav-item social-media">
              <a class="nav-link" href=""><span><i class="fab fa-pinterest-p"></i></span></a>
            </li>
            <li class="nav-item social-media">
              <a class="nav-link" href=""><span><i class="fab fa-instagram"></i></span></a>
            </li>
            <li class="nav-item social-media">
              <a class="nav-link" href=""><span><i class="fab fa-google-plus-g"></i></span></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!-- /HEADER -->


  <!-- MAIN -->
  <main>
    <section class="container-fluid">

      <div class="row px-5 pt-5 pb-3 flex-column">
        <h6 class="h6 pl-3 text-capitalize">home
          <span><i class="material-icons text-secondary">trending_flat</i></span>
          <span class="h6">about us</span>
          <span><i class="material-icons text-secondary">trending_flat</i></span>
          <span class="text-secondary">testimonials</span>
        </h6>
        <h2 class="h2 text-uppercase pl-3 mt-2">testimonials</h2>
      </div>

      <section class="wrap-container d-flex align-items-start justify-content-center px-3 pb-5">
        <div class="left col-8 border-right">
          <div class="d-flex align-items-start p-4 bg-light">
            <figure class="figure m-0">
              <img src="../img/small/sombre.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              <figcaption class="figure-caption text-uppercase text-center"> </figcaption>
            </figure>
            <div class="author float-right ml-4">
              <p class="comments">Aenean nonummy hendrerit mau phasellu porta. Fusce suscipit varius mi sed. Cum
                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Nulla dui. Fusce feugiat malesuada odio morbi.
              </p>
              <p class="comments mb-2">Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget
                volutpat lacus. Vestibulum faucibus scelerisque nisl vitae scelerisque. Sed tristique
                metus eu quam viverra malesuada. Cras porta eros nec libero bibendum sed
                faucibus felis fringilla. Quisque sed odio neque. Mauris at nisl ac eros pretium
                hendrerit vitae et velit. Aliquam erat volutpat. Proin sit amet erat vel nisl
                consectetur auctor et at quam.
              </p>
              <p class="text-capitalize m-0 worker">tim barkley, <span>manager</span></p>
              <span class="demolink"><a href="http://demolink.org">http://demolink.org</a></span>
            </div>
          </div>

          <div class="d-flex align-items-start p-4 bg-light my-5">
            <figure class="figure m-0">
              <img src="../img/small/sombre-2.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              <figcaption class="figure-caption text-uppercase text-center"> </figcaption>
            </figure>
            <div class="author float-right ml-4">
              <p class="comments">Aenean nonummy hendrerit mau phasellu porta. Fusce suscipit varius mi sed. Cum
                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Nulla dui. Fusce feugiat malesuada odio morbi.
              </p>
              <p class="comments mb-2">Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget
                volutpat lacus. Vestibulum faucibus scelerisque nisl vitae scelerisque. Sed tristique
                metus eu quam viverra malesuada. Cras porta eros nec libero bibendum sed
                faucibus felis fringilla. Quisque sed odio neque. Mauris at nisl ac eros pretium
                hendrerit vitae et velit. Aliquam erat volutpat. Proin sit amet erat vel nisl
                consectetur auctor et at quam.
              </p>
              <p class="text-capitalize m-0 worker">tim barkley, <span>manager</span></p>
              <span class="demolink"><a href="http://demolink.org">http://demolink.org</a></span>
            </div>
          </div>

          <div class="d-flex align-items-start p-4 bg-light">
            <figure class="figure m-0">
              <img src="../img/small/sombre.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              <figcaption class="figure-caption text-uppercase text-center"> </figcaption>
            </figure>
            <div class="author float-right ml-4">
              <p class="comments">Aenean nonummy hendrerit mau phasellu porta. Fusce suscipit varius mi sed. Cum
                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Nulla dui. Fusce feugiat malesuada odio morbi.
              </p>
              <p class="comments mb-2">Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget
                volutpat lacus. Vestibulum faucibus scelerisque nisl vitae scelerisque. Sed tristique
                metus eu quam viverra malesuada. Cras porta eros nec libero bibendum sed
                faucibus felis fringilla. Quisque sed odio neque. Mauris at nisl ac eros pretium
                hendrerit vitae et velit. Aliquam erat volutpat. Proin sit amet erat vel nisl
                consectetur auctor et at quam.
              </p>
              <p class="text-capitalize m-0 worker">tim barkley, <span>manager</span></p>
              <span class="demolink"><a href="http://demolink.org">http://demolink.org</a></span>
            </div>
          </div>

        </div>



        <aside class="right pl-4">
          <h3 class="text-capitalize">categories</h3>
          <ul class="nav flex-column">
            <li class="nav-item pl-0 aside__link">
              <a class="nav-link active p-0" href="#">art direction</a>
            </li>
            <li class="nav-item pl-0 aside__link">
              <a class="nav-link p-0" href="#">digital photography</a>
            </li>
            <li class="nav-item pl-0 aside__link">
              <a class="nav-link p-0" href="#">information architecture</a>
            </li>
            <li class="nav-item pl-0 aside__link">
              <a class="nav-link p-0" href="#">interior desing</a>
            </li>
            <li class="nav-item pl-0 aside__link">
              <a class="nav-link p-0" href="#">motions graphics</a>
            </li>
            <li class="nav-item pl-0 aside__link">
              <a class="nav-link p-0" href="#">photoshop tools</a>
            </li>
            <li class="nav-item pl-0 aside__link">
              <a class="nav-link p-0" href="#">web design</a>
            </li>
          </ul>

          <h3 class="text-capitalize mt-5">archives</h3>
          <ul class="nav flex-column">
            <li class="nav-item pl-0 aside__link">
              <a class="nav-link active p-0" href="#">may 2014</a>
            </li>
            <li class="nav-item pl-0 aside__link">
              <a class="nav-link p-0" href="#">march 2013</a>
            </li>
            <li class="nav-item pl-0 aside__link">
              <a class="nav-link p-0" href="#">february 2013</a>
            </li>
            <li class="nav-item pl-0 aside__link">
              <a class="nav-link p-0" href="#">january 2013</a>
            </li>
            <li class="nav-item pl-0 aside__link">
              <a class="nav-link p-0" href="#">december 2012</a>
            </li>
            <li class="nav-item pl-0 aside__link">
              <a class="nav-link p-0" href="#">may 2012</a>
            </li>
          </ul>

          <h4 class="my-3 text-capitalize">recents post</h4>

          <div class="">
            <h6 class="text-capitalize">aliquam erat volutpat</h6>
            <p class="text">Proin umcorper urna et felisstibulum iaculis
              lacinia est. Proin dictum elem entum velit fusce
              euismod. Aenean commodo ligula eget dolor.
              Proin dictum elem entum velit fusce.
            </p>
            <span class="text text-capitalize">may 27, 2014</span>
          </div>

          <div class="mt-5">
            <h6 class="text-capitalize">mauris posuere</h6>
            <p class="text">Proin umcorper urna et felisstibulum iaculis
              lacinia est. Proin dictum elem entum velit fusce
              euismod. Aenean commodo ligula eget dolor.
              Proin dictum elem entum velit fusce.
            </p>
            <span class="text text-capitalize">may 27, 2014</span>
          </div>
        </aside>
      </section>

    <!-- /ARCHIECTURE -->


    </section>
  </main>
  <!-- /MAIN -->




  <!-- FOOTER -->
  <footer class="container-fluid">
    <div class="row justify-content-between p-5 flex-wrap">
      <div class="col-lg-3 p-0">
        <img src="../img/footer-logo.png" alt="">
        <div class="d-flex flex-row justify-content-between pt-3 pl-0 col-8">
          <span class="footer__social"><i class="fab fa-facebook-f"></i></span>
          <span class="footer__social"><i class="fab fa-pinterest-p"></i></span>
          <span class="footer__social"><i class="fab fa-instagram"></i></span>
          <span class="footer__social"><i class="fab fa-google-plus-g"></i></span>
        </div>
      </div>
      <div class="col-lg-3 p-0">
        <h3 class="h3 text-capitalize">navigation</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link p-0 text-white text-capitalize hvr-underline-from-center" href="#">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 text-white text-capitalize" href="#">about us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 text-white text-capitalize" href="#">property</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 text-white text-capitalize" href="#">gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 text-white text-capitalize" href="#">our blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 text-white text-capitalize" href="#">contacts</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 p-0">
        <h3 class="h3 text-capitalize">for clients</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link p-0 text-white text-capitalize" href="#">sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 text-white text-capitalize" href="#">forum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 text-white text-capitalize" href="#">promotions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 text-white text-capitalize" href="#">news</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 p-0">
        <h3 class="h3 text-capitalize">contacts us</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="nav-link p-0 text-white text-capitalize" href="#">240 Central Park, London OR 10019</span>
          </li>
          <li class="nav-item">
            <span class="nav-link p-0 text-white text-capitalize" href="#">Freephone: +1 800 559 6580t</span>
          </li>
          <li class="nav-item">
            <span class="nav-link p-0 text-white text-capitalize" href="#">Telephone: +1 959 603 6035</span>
          </li>
          <li class="nav-item">
            <span class="nav-link p-0 text-white text-capitalize" href="#">FAX: +1 800 559 6580</span>
          </li>
          <li class="nav-item hvr-underline-from-center">
          <a class="nav-link p-0 mail" href="mailto:info@realhome.com">info@realhome.com</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- /FOOTER -->



  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.9/jquery.transit.min.js'></script>
  <script src="../js/index.js"></script>
</body>
</html>
